#! /bin/sh
# The above line is only for editors.
# This script is meant to be sourced by set_prompt.

# This sample configuration changes the colors depending on whether
# we are a system user (uid or gid less than 500) or
# we are a user with www in its name.

# Moreover, with an argument, we change the color_separator

# And another hack: We use "&" instead of "#" for a privileged zsh.
# Alternatively, depending on LC_CTYPE we use utf8 symbols for
# privileged/unprivileged zsh.
case ${LC_ALL:-${LC_CTYPE}} in
*utf*|*UTF*)
SetZshPs() {
	zsh_ps_prompt="%(!.%{%G${1}%}.%{%G${2}%})"
}
#	SetZshPs '♦' '•'
#	SetZshPs '»' '•'
	SetZshPs '☼' '•'
#	SetZshPs '♣' '♥'
#	SetZshPs '☻' '☺'
#	SetZshPs '☹' '☺'
#	SetZshPs '♂' '♀'
;;
*)	zsh_ps_prompt='%(!.&.%%)';;
esac

[ -n "${UID:++}" ] || UID=`id -u`
[ -n "${GID:++}" ] || GID=`id -g`
if [ "${UID}" -lt 500 ] || [ "${GID}" -lt 500 ]
then	color_user=${lightcyan}
	color_prompt=${lightred}
fi

[ -n "${USER:++}" ] || USER=`id -un`
case ${USER} in
*www*)
	color_user=${lightblue};;
esac

[ ${#} -eq 0 ] || color_separator=${red}
